.about-image {
	z-index: 1;
	.about {
		color: white;
    text-shadow: 2px 2px #ccc;
		text-transform: Uppercase;
		text-align: center;
    padding-top:0rem;
    font-size: 4rem;
	}
}

.about-container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  .about-paragraphs {
    max-width: 800px;
    margin: 3rem auto;
    font-size: 1.23rem;
  }
  .about-title {
    text-align: center;
    font-size: 3rem;
    color: black;
  }
}
