.ad-archive-title{
  text-align:center;
  text-transform: uppercase;
  font-size: 2rem;
  padding:2rem;
  border-bottom:3px solid #f4f4f4;
}

.adventure-grid{
  width:100%;
  padding:1rem;
  min-height:150vh;
  img{
    width:100%;
    height:auto;
    border-top:20px solid white;
  }
}

.post{
  height:100vh;
  position:relative;
  .post-thumbnail{
    position: botom;
  }
}

.adventures-container{
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    .adventure-paragraphs h3{
      font-size:3rem;
      text-transform: uppercase;
      font-weight:bold;
      margin-top: 5rem;
      line-height:1.75;
      }
}
