.ad-archive-title{
  text-align:center;
  text-transform: uppercase;
  font-size: 2rem;
  padding:2rem;
  border-bottom:3px solid #f4f4f4;
}

.adventure-grid{
  width:100%;
  padding:1rem;
  min-height:150vh;
  img{
    width:100%;
    height:auto;
    border-top:20px solid white;
  }
}
