/*style the shop page*/

.shop-page-container{
	margin: 0 auto;
	width: 100%;
  text-transform:uppercase;
  font-size:2rem;
  text-align:center;
  color:black;
  padding: 1rem 0;
}

.product-links{
  color: green;
  font-size: 1rem;
}

.products-archive-container{
  width:100%;
  padding:3rem;
  margin:auto;

}
