.container-header {
	padding: 0 5%;
	margin: 0 auto;
	width: 100%;
}
.site-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	position: fixed;
	z-index: 1000;
	/*margin-left: 20px;*/
	/*background-color:#d3d3d3;*/
	background-color:darkslategrey;
	height: 6.5rem;
	/*padding-bottom: 1rem;*/
	/*rgba(255,255,255,0.6)*/

	/*#d3d3d3;*/
}
.logo {
	align-self: flex-start;
	flex: 0 1 50%;
	img {
		width: 15%;
		height: auto;
		padding-top: 0.5rem;
	}
}
header {
	.h_right {
		float: right;
		input[type="text"] {
			width: 100px;
			background-color: transparent;
			border: 1px solid #ccc;
		}
	}
	i {
		color: white;
	}
}
nav.nav-container {
	margin: auto;
	overflow: auto;
	display: inline;
}
nav.nav {
	li {
		float: left;
		display: inline;
		padding-right: 15px;
	}
	a {
		text-decoration: none;
	}
}
nav.main-nav {
	overflow: hidden;
	display: inline-block;
	background: transparent;
	width: 45%;
	padding-left: 5rem;
	li {
		line-height: 40px;
		color: white;
	}
	a {
		color: white;
		text-decoration: none;
		font-size: 1rem;
		text-transform: uppercase;
		&:hover {
			color: white;
		}
	}
}
