.height-containers{
  width:100%;
  height:auto;
  padding: 2rem;
}

.journal-single-post h3{
  position: absolute;
  top: 10rem;
  background-color: #19625d;
  z-index: 5;
  padding: 1.5rem;
  color: white;
  font-size:1.2rem;
  text-transform:uppercase;
}

.journal-single-post h4{
  position:absolute;
  background-color:#19625d;
  z-index:5;
  font-size:0.8rem;
  color:white;
  top:35rem;
  left:35.6rem;
  padding:10px 20px;
  text-transform:uppercase;
}

.journal-single-post .post-thumbnail {
    position: relative;
}

.journal-single-post p{
  color:black;
}

/*ARCHIVE JOURNAL PAGE*/
.archive-block {
  border:1px solid #ccc
}

.journal-h2{
  position:absolute;
  color:white;
  background-color:#19625d;
  font-size:2rem;
  padding:1rem;
  text-transform:uppercase;
  width:38.5%;
  a{
    color:white;
  }
}

height-containers img{
  position:relative;
}

.pull-right{
  position:absolute;
  color:white;
  background-color:#19625d;
  font-size:1rem;
  padding:0.5rem;
  text-transform:uppercase;
  width:20%;
  left:38%;

}
