.product-taxonomy-header{
  text-align: center;
  padding: 6rem 3rem 3rem 3rem;
  border-bottom: 2px dotted #ccc;
  margin-bottom: 5rem;
  font-family: 'Merriweather', serif;
  h1{
    font-size:3rem;
  }
  p{
    font-size: 1.1rem;
  }
}

.taxonomy-container{
  width:100%;
  padding: 0 1rem;
  .taxonomy-img {
    height: 35vh;
  }
}
